$color: #000080; //navy;
$color1: #FFF8DC; //cornsilk;
$color2: #6495ED; //cornflowerblue;
$color3: #F0F8FF; //aliceblue;

html, div#app {
    background-color: $color1;
}

//Header component

div>#header {
    color: $color;
    padding: 1.5rem 0;
    text-align: center;
}

//Main component

.fetching-data {
    color: $color;
    text-align: center;
}

table, th, td {
    border: 0.1875rem solid $color;
    border-collapse: collapse;
    color: $color;
    font-size: 1.25rem;
}

#main>thead>tr>th {
    background-color: $color2;
    color: aliceblue;
    text-align: center;
}

#main>thead>tr>th>a {
    color: aliceblue;
    text-decoration: underline;
}

#alltime-down-arrow {
    display: none;
}

#recent-down-arrow {
    display: inline-block;
}

.rank, .recent, .alltime {
    text-align: center;
}

.user {
    text-align: left;
}

.user-img {
    border: 0.125rem black solid;
    border-radius: 10%;
    max-height: 2.5rem;
    max-width: 2.5rem;
}

//Footer component

#footer {
    color: $color;
    font-size: 1.25rem;
    padding: 2rem 0;
    text-align: center;
}

#footer a {
    color: $color2;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}

//Media queries

@media only screen and (max-width: 480px) {
    
    div>#header {
        padding: 0.75rem 0;
        text-align: center;
    }
    table, th, td {
        font-size: 0.875rem;
    }
    .score-span {
        display: none;
    }
    .user-img {
        display: none;
    }
    #footer {
        font-size: 1rem;
        padding: 1rem 0;
    }
}

@media only screen and (min-width: 481px) and (max-width: 639px) {
    
    div>#header {
        padding: 0.75rem 0;
        text-align: center;
    }
    table, th, td {
        font-size: 1rem;
    }
    .score-span {
        display: none;
    }
    .user-img {
        max-height: 1.625rem;
        max-width: 1.625rem;
    }
    #footer {
        font-size: 1rem;
        padding: 1rem 0;
    }
}
