$color: #000080; //navy;
$color1: #FFF8DC; //cornsilk;
$color2: #6495ED; //cornflowerblue;
$color3: #F0F8FF; //aliceblue;

html, div#app {
    background-color: $color1;
}

//Header component

div>#header>h1 {
    color: $color;
    padding: 1.5rem 0;
    text-align: center;
}

//Main component

.fetching-data {
    color: $color;
    text-align: center;
}

table, th, td {
    border: 0.1875rem solid $color;
    border-collapse: collapse;
    color: $color;
    font-size: 1.25rem;
}

#alltime-down-arrow {
    display: none;
}

#main>thead>tr>th {
    background-color: $color2;
    color: $color3;
    text-align: center;
}

#recent-down-arrow {
    display: inline-block;
}

.column-th>a {
    color: $color3;
    text-decoration: underline;
}

.column-th>a:focus {
    color: $color1;
    outline: 0.1875rem dotted $color3;
}

.column-th>a:hover {
    color: $color1;
}

.rank, .recent, .alltime {
    text-align: center;
}

.user {
    text-align: left;
}

.user-img {
    border: 0.125rem black solid;
    border-radius: 10%;
    max-height: 2.5rem;
    max-width: 2.5rem;
}

//GitLink component

#gitlink {
    color: $color;
    font-size: 1.25rem;
    padding: 2.0rem 0;
    text-align: center;
}

#gitlink a {
    color: $color2;
    text-decoration: none;
}

#gitlink a:focus {
    outline: 0.1875rem dotted $color2;
}

#gitlink a:hover {
    text-decoration: underline;
}

//Media queries

@media only screen and (max-width: 480px) {
    
    div>#header>h1 {
        padding: 0.75rem 0;
    }
    table, th, td {
        font-size: 0.875rem;
    }
    .score-span {
        display: none;
    }
    .user-img {
        display: none;
    }
    #gitlink {
        font-size: 1.0rem;
        padding: 1.0rem 0;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    
    div>#header>h1 {
        font-size: 1.875rem;
        padding: 1.0rem 0;
    }
    table, th, td {
        font-size: 1.0rem;
    }
    .score-span {
        display: none;
    }
    .user-img {
        max-height: 1.625rem;
        max-width: 1.625rem;
    }
    #gitlink {
        font-size: 1.0rem;
        padding: 1.25rem 0;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

    div>#header>h1 {
        font-size: 2.3rem;
        padding: 1.25rem 0;
    }
    table, th, td {
        font-size: 1.125rem;
    }
    .score-span {
        display: none;
    }
    .user-img {
        max-height: 2.25rem;
        max-width: 2.25rem;
    }
    #gitlink {
        padding: 1.5rem 0;
    }
}

